*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #081b29;
}

.present{
   display: flex;
   justify-content: space-between;
   padding: 15px;
}

.logo{
    font-size: 55px;
    font-style: italic;
    color: blueviolet;
}

.navigatiion a{
    font-size: 20px;
    margin: 20px 0 15px 0;
    text-decoration: none;
    padding: 30px;
}


.navigatiion a:hover{
    color:rgb(222, 23, 23);
    /* text-decoration: underline; */
    transition: .9s;
}


.but{
    padding: 12px;
    font-size: 20px;
}

/* login code hare */




 /* footer code start hare */
.present-footer p{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    background-color: rgb(215, 217, 219);
}